<div th:fragment="frag_index_content" class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 col-12">

                    <table class="table-list">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>제목</th>
                                <th>작성일시</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="article, idx: ${paging}">
                                <!-- 인덱스로 순번 표시 필요시 +1 함 -->
                                <td th:text="${ idx.count }"></td>
                                <td><a th:href="@{|/article/detail/${ article.id }|}"
                                    th:text="${ article.subject }"></a></td>
                                <td
                                    th:text="${ #temporals.format( article.getCreateDate(), 'yyyy-MM-dd HH:mm:ss') }"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <div class="button-group">
                                        <a th:href="@{/article/create}" class="btn-list">글쓰기</a>
                                    </div>
                                </td>
                            </tr>

                            <!-- 검색바 추가 -->
                            <tr>
                                <td colspan="3">
                                    <form method="get" th:action="@{/article/list2}" id="searchForm">
                                        <!-- 검색어 유지 -->
                                        <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
                                        <!-- 페이지값 유지 -->
                                        <input type="hidden" id="page" name="page" th:value="${paging.number}">
                                        <div class="input-group input-group-sm" style="width: 150px; margin: 0 auto;">
                                            <!-- 검색어 입력파트,화면에 노출되는 영역 -->
                                            <input type="text" id="search_keyword" th:value="${keyword}" class="form-control float-right"
                                              placeholder="Search">
                                            <div class="input-group-append">
                                              <button type="submit" class="btn btn-default" id="searchBtn">
                                                <i class="fas fa-search"></i>
                                              </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>

                            <!-- 페이지네이션 추가 -->
                            <tr  th:if="${paging.totalElements > 0}">
                                <td colspan="3">
                                    <div class="card-footer clearfix">
                                        <ul class="pagination pagination-sm m-0 float-right">
                                            <!-- 이전 페이지 -->
                                            <li class="page-item" th:classappend="${ !paging.hasPrevious } ? 'disabled'">
                                                <a class="page-link" href="javascript:void(0)"
                                                th:data-page="${ paging.number-1 }"> <span>«</span>
                                                </a>
                                            </li>

                                            <!-- 페이지 번호 나열 -->
                                            <li th:each="page : ${ #numbers.sequence(0, paging.totalPages-1) }"
                                                th:classappend="${page == paging.number} ? 'active'"
                                                th:if="${ paging.number-5 <= page and page <= paging.number+5 }"
                                                class="page-item">
                                                <a class="page-link" href="javascript:void(0)"
                                                th:data-page="${ page }" th:text="${page+1}"></a>
                                            </li>

                                            <!-- 다음 페이지 -->
                                            <li class="page-item" th:classappend="${ !paging.hasNext } ? 'disabled'">
                                                <a class="page-link" href="javascript:void(0)"
                                                th:data-page="${ paging.number+1 }"> <span>»</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </section>

    <!-- 자바스크립트 삽입 -->
    <script type="text/javascript">
    const links = document.getElementsByClassName("page-link");
    Array.from(links).forEach((link) => {
      link.addEventListener('click', function (e) {
        document.getElementById("page").value = this.dataset.page;
        document.getElementById("searchForm").submit();
      })
    });

	const searchBtn = document.getElementById("searchBtn");
	searchBtn.addEventListener('click', function (e) {
	  e.preventDefault();
	  const searchKeyword = document.getElementById("search_keyword").value.trim();
	  if (searchKeyword) {
	    document.getElementById("keyword").value = searchKeyword;
	    document.getElementById("page").value = 0;
	    document.getElementById("searchForm").submit();
	  } else {
	    alert("검색어를 입력해주세요.");
	  }
	});
    </script>

</div>
