<div th:fragment="frag_index_content" class="content-wrapper">



	<div th:fragment="frag_index_content" class="content-wrapper"
		style="text-align: center; padding: 20px;">
		<section>
		
			<iframe width="560" height="315"
				src="https://www.youtube.com/embed/GmPABLW1utE?si=jHZl9Mpc1v1SRwDk"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
				style="margin: 10px; border: none;">
				<p>사용 중인 브라우저는 iframe을 지원하지 않습니다.</p>
			</iframe>

			<iframe width="560" height="315"
				src="https://www.youtube.com/embed/Uz-kJQgwtkU?si=PB52KZ9d1EPD_rT1"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
				style="margin: 10px; border: none;"> </iframe>

			<iframe width="560" height="315"
				src="https://www.youtube.com/embed/qRbFFgpoCtE?si=ldyzPFHMqQjDsQuZ"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
				style="margin: 10px; border: none;"> </iframe>

			<iframe width="560" height="315"
				src="https://www.youtube.com/embed/--geWih52uw?si=Z1N1t80rJzenDsiW"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
				style="margin: 10px; border: none;"></iframe>
		</section>
	</div>



</div>