<!DOCTYPE html>
<!-- 상속을 통해 레이아웃 적용 -->
<html layout:decorate="~{lib/layout}">

<div layout:fragment="content" class="wrapper">

	<!-- spinner -->
	<div th:replace="~{lib/spinner.html :: sagment_spinner}"></div>
	<!-- /.spinner -->

	<!-- topbar -->
	<div th:replace="~{lib/topbar.html :: sagment_topbar}"></div>
	<!-- /.topbar -->


	<!-- navbar -->
	<div th:replace="~{lib/navbar.html :: sagment_navbar}"></div>
	<!-- /.navbar -->


	<!-- carousel5 -->
	<div th:replace="~{lib/carousel5.html :: sagment_carousel5}"></div>
	<!-- /.carousel -->


	<!-- testimonial -->
	<div th:replace="~{lib/testimonial.html :: sagment_testimonial}"></div>
	<!-- /.testimonial -->




</div>
</html>